.header {
  background-color: #61dafb;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 28;
}

.nav {
  padding: 1rem 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
  width: 140px;
  height: 32px;
}

.list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  list-style: none;
}